@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@layer base {
    body {
        @apply min-h-screen z-0 bg-gray-100
    }

}

@theme {
    --breakpoint-phone: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;
  }

@layer components {
    .tomas-input {
     @apply border-0 border-b-[2.5px] border-b-blue-500 p-1 focus:border-purple-600 caret-purple-600 focus:shadow-inner focus:shadow-purple-500 focus:rounded-xl duration-500 px-4
    }
    .tomas-select {
        @apply focus:border-b-purple-500 border-b-[2.5px] border-transparent rounded-xl focus:border-purple-600 focus:shadow-inner focus:shadow-purple-500 focus:rounded-xl duration-500 
    }
    .tomas-label {
        @apply  pt-5  
    }
    .tomas-button {
        @apply bg-gradient-to-br from-purple-500 to-blue-500 p-5 rounded-2xl max-w-[10rem] cursor-pointer text-white font-semibold hover:shadow-2xl hover:shadow-purple-500 duration-500
    }
  }

  .inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


input,
textarea {
    appearance: none;   
    outline: none;                   
    font: inherit;       
    color: inherit;     
    background: none;    
}
select {
    appearance: none;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    outline: none;
}

::placeholder {
    padding-left: 5px;
}